.row {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 50%;
    float: left;
  }
  
  #lezioni .row img {
    /* per centrare orizzontalmente */
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  #lezioni {
    text-align: center;
  }
  
  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 33%;
  }
  
  #steps {
    text-align: center;
  }
  
  /* BLOCCO PERCHE */
  #why {
    text-align: center;
  }
  
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 80px;
  }
  
  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px
  }
  
  /* COMMON */
  .row::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .container.grey {
    background-color: #f9f9f9;
  }
  
  img {
    height: 200px;
  }
  
  .clear {
    clear: both;
  }



/* TABLET */

@media screen and (max-width: 900px){
    *{
        margin: 0 auto; 
        padding: 0;
        box-sizing: border-box;
    }

    .container.grey{
        background-color: white;
    }

    #lezioni .row{
        margin-top: 0;
        padding: 50px 100px;
        background-color: rgb(100, 151, 152);  
        color: white;       
    }

    #lezioni h1{
        padding-bottom: 20px;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 50%;
        padding: 20px 0;
        font-size: 23px;
    }

    #steps .row{
        background-color: white;
    }
    
    #steps{
        color: rgb(100, 151, 152);
    }

    #steps h1{
        padding-bottom: 50px;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        display: inline-block;
        width: 33%;
       padding: 0 30px;
        font-size: 20px;
    }

    #why .row{
        background-color: rgb(100, 151, 152);
        padding: 50px 0;
        color: white;
    }

    #why hr{
        display: none;
    }

}

  
    /* MOBILE */

@media screen and (max-width: 420px){
   
    *{
        margin: 0 auto; 
        padding: 0;
        box-sizing: border-box;
        color: black;
    }

    #lezioni .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding: 50px 100px;
        background-color: rgb(238,241,194);         
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        float: none;
        width: 100%;
        padding: 20px 0;
        font-size: 23px;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        width: 100%;
        padding: 50px 100px;
        font-size: 23px;
    }

    #steps .row{
        background-color: white;
    }
    
    #steps{
        text-align: center;
    }

    #why {
        text-align: center;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        width: 100%;
        padding: 0 100px;
        font-size: 23px;
    }

    #why .row img {
        background-color: #428bca;
        border-radius: 50%;
        padding: 30px
    }

    #why .row{
        background-color: rgb(238,241,194);
        padding: 50px 0;
    }

    #why hr{
        color: black; 
        border: 2px solid black;
        display: block;
    }
}


    